/*
Eng: this is custom css for ace (ace.css) and struts integration.
version : 1.1.3
*/

input[type=checkbox].ace + input[type=hidden] + .lbl {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 14px;
    min-width: 14px;
    font-weight: normal;
}
input[type=checkbox].ace + input[type=hidden] + .lbl.padding-16::before {
    margin-right: 16px;
}
input[type=checkbox].ace + input[type=hidden] + .lbl.padding-12::before {
    margin-right: 12px;
}
input[type=checkbox].ace + input[type=hidden] + .lbl.padding-8::before {
    margin-right: 8px;
}
input[type=checkbox].ace + input[type=hidden] + .lbl.padding-4::before {
    margin-right: 4px;
}
input[type=checkbox].ace + input[type=hidden] + .lbl.padding-0::before {
    margin-right: 0px;
}
input[type=checkbox].ace + input[type=hidden] + .lbl::before {
    font-family: fontAwesome;
    font-weight: normal;
    font-size: 11px;
    color: #32a3ce;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    /*, inset 0px -15px 10px -12px rgba(0,0,0,0.05);*/

    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 13px;
    line-height: 13px;
    min-width: 13px;
    margin-right: 1px;
}
input[type=checkbox].ace:checked + input[type=hidden] + .lbl::before {
    display: inline-block;
    content: '\f00c';
    background-color: #F5F8FC;
    border-color: #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
input[type=checkbox].ace:hover + input[type=hidden] + .lbl::before
input[type=checkbox].ace + input[type=hidden] + .lbl:hover::before {
    border-color: #ff893c;
}
input[type=checkbox].ace:active + input[type=hidden] + .lbl::before,
input[type=checkbox].ace:checked:active + input[type=hidden] + .lbl::before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=checkbox].ace.ace-checkbox-2 + input[type=hidden] + .lbl::before {
    box-shadow: none;
}
input[type=checkbox].ace.ace-checkbox-2:checked + input[type=hidden] + .lbl::before {
    background-color: #f9a021;
    border-color: #f9a021;
    color: #FFF;
}
input[type=checkbox].ace:disabled + input[type=hidden] + .lbl::before,
input[type=checkbox].ace[disabled] + input[type=hidden] + .lbl::before,
input[type=checkbox].ace.disabled + input[type=hidden] + .lbl::before {
    background-color: #DDD !important;
    border-color: #CCC !important;
    box-shadow: none !important;
    color: #BBB;
}

/********************
* ACE-SWITCH - START
********************/
input[type=checkbox].ace.ace-switch + input[type=hidden] + .lbl {
    margin: 0 4px;
    min-height: 24px;
}
input[type=checkbox].ace.ace-switch + input[type=hidden] + .lbl::before {
    font-family: Arial, Helvetica, sans-serif;
    content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
    color: #999;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    line-height: 21px\9;
    /*ie9*/

    height: 18px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F5F5F5;
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC;
    text-align: left;
    float: left;
    padding: 0;
    width: 50px;
    text-indent: -19px;
    text-indent: -21px\9;
    margin-right: 0;
    -webkit-transition: text-indent .4s ease;
    -moz-transition: text-indent .4s ease;
    -o-transition: text-indent .4s ease;
    transition: text-indent .4s ease;
}
input[type=checkbox].ace.ace-switch + input[type=hidden] + .lbl::after {
    font-family: Arial, Helvetica, sans-serif;
    content: '|||';
    font-size: 10px;
    font-weight: lighter;
    color: #E5E5E5;
    background-color: #FFF;
    text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    border-radius: 12px;
    width: 22px;
    height: 22px;
    line-height: 20px;
    position: absolute;
    top: -2px;
    left: -3px;
    padding: 0;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) inset;
    -webkit-transition: left .4s ease;
    -moz-transition: left .4s ease;
    -o-transition: left .4s ease;
    transition: left .4s ease;
}
input[type=checkbox].ace.ace-switch:checked + input[type=hidden] + .lbl::before {
    text-indent: 9px;
    color: #FFF;
    background-color: #8ab2c9;
    border-color: #468fcc;
}
input[type=checkbox].ace.ace-switch:checked + input[type=hidden] + .lbl::after {
    left: 34px;
    background-color: #FFF;
    color: #8ab2c9;
}
input[type=checkbox].ace.ace-switch.ace-switch-2 + input[type=hidden] + .lbl::before {
    content: "YES\a0\a0\a0\a0\a0\a0\a0\a0NO";
}
input[type=checkbox].ace.ace-switch.ace-switch-3 + input[type=hidden] + .lbl::after {
    font-family: FontAwesome;
    font-size: 13px;
    line-height: 23px;
    content: "\f00d";
    top: -1px;
}
input[type=checkbox].ace.ace-switch.ace-switch-3:checked + input[type=hidden] + .lbl::after {
    content: "\f00c";
}
input[type=checkbox].ace.ace-switch.ace-switch-4 + input[type=hidden] + .lbl::before,
input[type=checkbox].ace.ace-switch.ace-switch-5 + input[type=hidden] + .lbl::before {
    content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    line-height: 19px;
    height: 20px;
    overflow: hidden;
    line-height: 21px\9;
    border-radius: 12px;
    background-color: #8b9aa3;
    border: 1px solid #8b9aa3;
    color: #FFF;
    width: 52px;
    text-indent: -25px;
    text-indent: -28px\9;
    display: inline-block;
    position: relative;
    box-shadow: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
input[type=checkbox].ace.ace-switch.ace-switch-4 + input[type=hidden] + .lbl::after,
input[type=checkbox].ace.ace-switch.ace-switch-5 + input[type=hidden] + .lbl::after {
    font-family: Arial, Helvetica, sans-serif;
    content: '|||';
    text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.2);
    font-size: 7px;
    font-weight: lighter;
    color: #8b9aa3;
    text-align: center;
    position: absolute;
    border-radius: 12px;
    color: #5b6a73;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    background-color: #FFF;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
input[type=checkbox].ace.ace-switch.ace-switch-4:checked + input[type=hidden] + .lbl::before,
input[type=checkbox].ace.ace-switch.ace-switch-5:checked + input[type=hidden] + .lbl::before {
    text-indent: 9px;
    background-color: #468fcc;
    border-color: #468FCC;
}
input[type=checkbox].ace.ace-switch.ace-switch-4:checked + input[type=hidden] + .lbl::after,
input[type=checkbox].ace.ace-switch.ace-switch-5:checked + input[type=hidden] + .lbl::after {
    left: 34px;
    background-color: #FFF;
}
input[type=checkbox].ace.ace-switch.ace-switch-5 + input[type=hidden] + .lbl::before {
    content: "YES\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0NO";
}
input[type=checkbox].ace.ace-switch.ace-switch-5:checked + input[type=hidden] + .lbl::before {
    text-indent: 8px;
}
input[type=checkbox].ace.ace-switch.ace-switch-6 + input[type=hidden] + .lbl {
    position: relative;
}
input[type=checkbox].ace.ace-switch.ace-switch-6 + input[type=hidden] + .lbl::before {
    font-family: FontAwesome;
    content: "\f00d";
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: none;
    border: none;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 12px;
    display: inline-block;
    background-color: #888;
    color: #F2F2F2;
    width: 52px;
    height: 22px;
    line-height: 20px;
    text-indent: 32px;
    -webkit-transition: background 0.1s ease;
    -moz-transition: background 0.1s ease;
    -o-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
input[type=checkbox].ace.ace-switch.ace-switch-6 + input[type=hidden] + .lbl::after {
    content: '';
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 12px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 10px;
    height: 10px;
    text-align: center;
    background-color: #F2F2F2;
    border: 4px solid #F2F2F2;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
}
input[type=checkbox].ace.ace-switch.ace-switch-6:checked + input[type=hidden] + .lbl::before {
    content: "\f00c";
    text-indent: 6px;
    color: #FFF;
    border-color: #b7d3e5;
    background-color: #ff893c;
}
input[type=checkbox].ace.ace-switch.ace-switch-6:checked + input[type=hidden] + .lbl::after {
    left: 32px;
    background-color: #FFF;
    border: 4px solid #FFF;
    text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
input[type=checkbox].ace.ace-switch.ace-switch-7 + input[type=hidden] + .lbl {
    position: relative;
}
input[type=checkbox].ace.ace-switch.ace-switch-7 + input[type=hidden] + .lbl::before {
    content: "OFF\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0ON";
    font-weight: bolder;
    font-size: 14px;
    line-height: 20px;
    background-color: #FFF;
    border: 2px solid #AAA;
    border-radius: 0;
    box-shadow: none;
    color: #aaa;
    width: 70px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-indent: 4px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type=checkbox].ace.ace-switch.ace-switch-7 + input[type=hidden] + .lbl::after {
    content: '\f00d';
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    top: 3px;
    left: 39px;
    width: 32px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    background-color: #aaa;
    color: #FFF;
    border-radius: 0;
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
input[type=checkbox].ace.ace-switch.ace-switch-7:checked + input[type=hidden] + .lbl::before {
    color: #468fcc;
    background-color: #FFF;
    text-indent: -33px;
    border-color: #6fb3e0;
}
input[type=checkbox].ace.ace-switch.ace-switch-7:checked + input[type=hidden] + .lbl::after {
    left: 3px;
    content: '\f00c';
    background-color: #468fcc;
    color: #FFF;
}
/********************
* ACE-SWITCH - END
********************/


/* ISSUE-1 http://stackoverflow.com/questions/11169277/is-there-anything-built-into-to-twitter-bootstrap-2-0-to-align-table-contents */
.table th.text-right, .table td.text-right{
    text-align: right;
}

.table th.text-center, .table td.text-center{
    text-align: center;
}
/* END ISSUE-1 */