/**********************************

Use: Main Screen Import

***********************************/

/*
@import "reset.css";
@import "core.css";

@import "cmxformTemplate.css";
@import "cmxform.css";*/

label.validateError {
  /*background:url("unchecked.gif") no-repeat 0px 0px;*/
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}

ul.validateError {
  /*background:url("unchecked.gif") no-repeat 0px 0px;*/
  padding-bottom: 0px;
  font-weight: bold;
  color: #EA5200;
  list-style-type: none;
}

label.error {
  /*background:url("unchecked.gif") no-repeat 0px 0px;*/
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #CD0A0A;
}

label.checked {
  /*background:url("checked.gif") no-repeat 0px 0px;*/
}
div.container {
    /*background-color: #eee;*/
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
}

div.container ol li {
    list-style-type: disc;
    margin-left: -25px;
    margin-right: 25px;
    font-size: 11px;
    list-style-type: none;
}

div.container {
    display: none
}

.container label.error {
    display: inline;
}
.container label.error {
    display: inline;
}
input.error,select.error,textarea.error {
    /*background: #ff6;*/
    /*border: 1px dotted red;*/
    color: #B94A48 !important;
    border-color: #FF0000;
}

.ui-state-error-validate, .ui-widget-content-validate .ui-state-error-validate {
    background: url("validate-bg.png") repeat-x scroll 50% 50% #FEF1EC;
    border: 1px solid #CD0A0A;
    color: #CD0A0A;
}
.ui-red {
    background-image: url("red-icon.png");
}