

/* =============
   Print css
============= */

@media print {
  .page-title-box,.topbar-left,.breadcrumb,.page-title,.footer {
    display: none;
    margin: 0;
    padding: 0;
  }

  .left,.right-bar {
    display: none;
  }
  .content {
    margin-top: 0 !important;
    padding-top: 0;
  }
  .content-page {
    margin-right: 0 !important;
    margin-top: 0;
  }
}
