

/* =============
   Nestable
============= */


.custom-dd {
  .dd-list {
    .dd-item {
      .dd-handle {
        background: $light3;
        border: 1px solid lighten($muted,20%);
        padding: 10px 16px;
        height: auto;
        font-size: $font-size-base;
        font-weight: normal;
        border-radius: 3px;

        &:hover {
          color: $custom;
        }
      }

      button {
        height: auto;
        font-size: 25px;
        margin: 8px auto;
        color: $light7;
        width: 35px;
      }
    }
  }
}

.dd-item > button{
  float: right;
}

.dd-list {
  .dd-list {
    padding-right: 30px;
    padding-left: 0px;
  }
}

.custom-dd-empty {
  .dd-list {
    .dd3-handle {
      border: none;
      background: $light3;
      height: 36px !important;
      width: 36px !important;

      &:before {
        color: inherit;
        top: 7px;
      }

      &:hover {
        color: $custom;
      }
    }
    .dd3-content {
      height: auto;
      border: none;
      padding: 8px 16px 8px 46px;
      background: $light3;
      font-family: $font-secondary;

      &:hover {
        color: $custom;
      }
    }
    button {
      width: 26px;
      height: 26px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.dd-dragel > .dd-item .dd-handle {
  padding: 8px 16px !important;
  background: $light3;
  height: auto;
  text-align: right;
}

.dd-placeholder, .dd-empty {
  background: $light3;
  border: 1px dashed $muted;
}
.dd-dragel > .dd3-item .dd3-handle {
  border: none ;
  background: $light3;
  height: 36px !important;
  width: 36px !important;

  &:before {
    color: inherit;
    top: 7px;
  }
}
.dd-dragel > .dd3-item .dd3-content {
  padding: 8px 16px 8px 46px;
  background: $light3;
  height: auto;
  text-align: right;
}