

/* =============
   Bootstrap RTL 
============= */

html {
    direction: rtl;
}

.float-left {
    float: right !important;
}

.float-right, .close  {
    float: left !important;
}

.text-left, .navbar-custom,.list-group-item, .page-title, .page-header, .table, .header-title ,.dropdown-item,.card-box,
.select2-container--default .select2-results>.select2-results__options, .card {
  text-align: right !important;
}

.dropdown-menu{
    &.show{
        right: 0;
        left: auto;
    }
}

.dropdown-menu-right {
    &.show{
        left: 0;
        right: auto;
    }
}

.text-right, .dataTables_filter {
  text-align: left !important;
}

.list-inline,.list-group,ul {
    padding-right: 0;
}

.list-inline-item:not(:last-child) {
    margin-left: .5rem;
    margin-right: 0 !important;
}

dd {
    margin-right: 0;
}

.m-l-5 {
    margin-left: 0 !important;
    margin-right: 5px;
}

.m-l-10 {
    margin-left: 0px !important;
    margin-right: 10px;
}

.m-r-5 {
    margin-right: 0 !important;
    margin-left: 5px;
}

.m-r-10 {
    margin-right: 0 !important;
    margin-left: 10px;
}

.pr-2 {
    padding-right: 0 !important;
    padding-left: .5rem!important;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child),.page-item:last-child .page-link,
.input-group .form-control:not(:first-child), .input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group>.btn, .input-group-btn:not(:first-child)>.dropdown-toggle,
.input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn, .input-group-btn:not(:last-child)>.btn:not(:first-child),
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),.page-item:first-child .page-link,
.input-group .form-control:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle,
.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}

// custom control

.custom-control {
    padding-right: 1.5rem;
    padding-left: 0;
}
  
.custom-control-label {
  &:before, &:after {
      left: auto;
      right: -22px;
  }  
}