

/* =============
  Datatable
============= */

div.dt-button-info {
  background-color: $custom;
  border: none;
  color: $white;
  box-shadow: none;
  border-radius: 3px;
  text-align: center;
  z-index: 21;
}
div.dt-button-info h2 {
  border-bottom: none;
  background-color: rgba($white, 0.2);
  color: $white;
}
table.dataTable {
  margin-top: 10px !important;
  margin-bottom: 18px !important;
}
.table-bordered.dataTable>thead>tr>td, .table-bordered.dataTable>thead>tr>th {
  border-bottom-width: 1px !important;
}

.dataTables_wrapper{
  .dataTables_length{
    float: right;
    select{
      width: 75px !important;
    }
  }
  .dataTables_filter{
    input{
      margin-left: 0 !important;
      margin-right: 0.5em;
    }
  }
  .form-control{
    padding: 4px 12px;
    height: 30px;
    width: auto;
  }
  .sorting, .sorting_asc{
    &:before{
      display: none !important;
    }
  }
}

.fixedHeader-floating{
  .sorting, .sorting_asc{
    &:before{
      display: none !important;
    }
  }
}

.btn-toolbar{
  display: block;
}

/* Fixed Header table */
.fixedHeader-floating {
  top: 134px !important;
}
/* Key Table border */
table.dataTable th.focus, table.dataTable td.focus {
  outline: 2px solid $custom !important;
  outline-offset: -1px;
  background-color: $custom;
  color: $white;
}

/* Responsive data table */
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  box-shadow: 0 0 3px rgba(67, 89, 102, 0.2);
  background-color: $success;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: $danger;
}
table.dataTable>tbody>tr.child span.dtr-title {
  font-family: $font-secondary;
}

/* ColVid Tables */
div.ColVis {
  float: none;
  margin-left: 30px;
}
button.ColVis_Button,
.ColVis_Button:hover {
  float: none;
  border-radius: 3px;
  outline: none !important;
  background: none;
  box-shadow: none;
  color: $white !important;
  background-color: $custom !important;
  border: 1px solid $custom !important;
}
.dataTables_length {
  float: right;
}
div.ColVis_collectionBackground {
  background-color: transparent;
}
ul.ColVis_collection {
  padding: 10px 0 0 0;
  background-color: $white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: none;
}
ul.ColVis_collection li {
  background: transparent !important;
  padding: 3px 10px !important;
  border: none !important;
  box-shadow: none !important;
  text-align: right;
}
#datatable-colvid_info {
  float: right;
}