

/* =============
   Tablesaw
============= */

.tablesaw {
  thead {
    background: rgba($light3, 0.7);
    background-image: none;
    border: none;

    th {
      text-shadow: none;
      letter-spacing: 0.06em;
    }

    tr:first-child th {
      font-weight: 600;
      border: none;
      font-family: $font-secondary;
    }
  }
  td {
    border-top: 1px solid rgba($light3, 0.7) !important;
  }
  td, th{
    text-align: right !important;
  }
}

.tablesaw td, .tablesaw tbody th {
  font-size: inherit;
  line-height: inherit;
  padding: 10px !important;
}
.tablesaw-stack tbody tr ,.tablesaw tbody tr{
  border-bottom: none;
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-ascending button:after, .tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-descending button:after {
  font-family: FontAwesome;
  font-size: 10px;
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-ascending button:after {
  content: "\f176";
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-descending button:after {
  content: "\f175";
}
.tablesaw-bar .btn-select.btn-small:after, .tablesaw-bar .btn-select.btn-micro:after {
  font-size: 8px;
  padding-right: 10px;
}
.tablesaw-swipe {
  .tablesaw-swipe-cellpersist{
    border-right: none;
    border-left: 2px solid $light;
  }
  .tablesaw-cell-persist {
    box-shadow: none;
  }
}

.tablesaw-columntoggle-popup{
  .tablesaw-btn-group >{
    label{
      input {
        margin-right: 0 !important;
        margin-left: .8em;
      }
    }
  }
}

.tablesaw-enhanced .tablesaw-bar .btn {
  text-shadow: none;
  background-image: none;
}
.tablesaw-enhanced .tablesaw-bar .btn.btn-select {
  &:hover {
    background: $white;
  }
}
.tablesaw-enhanced .tablesaw-bar .btn:hover, .tablesaw-enhanced .tablesaw-bar .btn:focus,.tablesaw-enhanced .tablesaw-bar .btn:active {
  color: $custom !important;
  background-color: $light3;
  outline: none !important;
  box-shadow: none !important;
  background-image: none;
}