

/* =============
   Widgets
============= */

.widget-box-one {
  .widget-one-icon {
    position: absolute;
    right: 30px;
    font-size: 72px !important;
    top: 0;
    color: $light3;
    overflow: hidden;
    vertical-align: middle;
    line-height: 2 !important;
  }

  .wigdet-one-content {
    position: relative;
  }
}

.widget-box-two {
  p {
    font-size: 14px;
  }
  .widget-two-icon {
    position: absolute;
    left: 30px;
    font-size: 30px !important;
    top: 30px;
    overflow: hidden;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    color: $white;
    background-color: rgba($white, 0.2);
  }
  .wigdet-two-content {
    position: relative;
  }
}

.widget-two-custom {
  background-color: $custom;
  border-color: $custom;
}

.widget-two-primary {
  background-color: $primary;
  border-color: $primary;
}

.widget-two-success {
  background-color: $success;
  border-color: $success;
}

.widget-two-warning {
  background-color: $warning;
  border-color: $warning;
}

.widget-two-info {
  background-color: $info;
  border-color: $info;
}

.widget-two-danger {
  background-color: $danger;
  border-color: $danger;
}

.widget-two-inverse {
  background-color: $inverse;
  border-color: $inverse;
}

.widget-two-purple {
  background-color: $purple;
  border-color: $purple;
}

.widget-two-pink {
  background-color: $pink;
  border-color: $pink;
}

.widget-two-default {
  background-color: $white;

  .widget-two-icon {
    color: darken($light3,20%);
    border: 2px solid darken($light3,20%);
  }
}

.widget-box-three {
  img {
    height: 48px;
    width: 48px;
    line-height: 80px;
  }
  .bg-icon {
    height: 80px;
    width: 80px;
    line-height: 76px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    background-clip: padding-box;
    border: 1px dashed $muted;
    background-color: $light3;
    margin-left: 20px;

    i {
      vertical-align: middle;
      font-size: 36px;
      color: $muted;
    }
  }
}


.widget-user {
  position: relative;

  img {
    width: 60px;
    height: 60px;
  }

}

.user-position {
  position: absolute;
  top: 0;
  border-right: 1px solid $light;
  bottom: 0;
  width: 44px;
  font-size: 16px;
  text-align: center;
  left: 0;
  right: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;

  span {
    transform: rotate(90deg);
  }
}


/* Avatar box */
.avatar-sm-box {
  height: 32px;
  width: 32px;
  color: $white;
  display: block;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  font-family: $font-secondary;
  font-size: 16px;
}