

/* =============
   Form elements
============= */

/* Form components */

label {
  font-weight: 500;
  font-size: 14px;
  font-family: $font-secondary;
}

textarea.form-control {
  min-height: 90px;
}
.form-control {
  border: 1px solid lighten($dark,6%);
  background-color: lighten($dark, 4%);
  border-radius: 4px;
  padding: 7px 12px;
  height: 38px;
  max-width: 100%;
  font-size: $font-size-base;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all 300ms linear;
  color: $muted;
  &:focus {
    border: 1px solid lighten($dark,6%);
    background-color: lighten($dark, 5%);
    color: $muted;
    box-shadow: none;
    outline: 0 !important;
  }
  &::-webkit-input-placeholder {
    color: $muted;
  }
  
  &:-moz-placeholder {
    color: $muted;
  }
  
  &::-moz-placeholder {
    color: $muted;
  }
  
  &:-ms-input-placeholder {
    color: $muted;
  }

  &:disabled, &[readonly]{
    background-color: lighten($dark, 4%);
    border: 1px solid lighten($dark, 6%);
    color: $muted !important;
  }
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.3333333;
  border-radius: 4px;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px;
}
.form-control-feedback {
  line-height: 38px !important;
}
.input-group-btn .btn {
  padding: 7px 12px;
}
.input-group-btn .btn-sm {
  padding: 5px 10px;
}
.input-group-btn .btn-lg {
  padding: 10px 17px;
}

.has-success .checkbox, .has-success .checkbox-inline,
.has-success .control-label, .has-success .help-block,
.has-success .radio, .has-success .radio-inline,
.has-success.checkbox label, .has-success.checkbox-inline label,
.has-success.radio label, .has-success.radio-inline label,
.has-success .form-control-feedback{
  color: $success;
}

.has-warning .checkbox, .has-warning .checkbox-inline,
.has-warning .control-label, .has-warning .help-block,
.has-warning .radio, .has-warning .radio-inline,
.has-warning.checkbox label, .has-warning.checkbox-inline label,
.has-warning.radio label, .has-warning.radio-inline label,
.has-warning .form-control-feedback{
  color: $warning;
}
.has-error .checkbox, .has-error .checkbox-inline,
.has-error .control-label, .has-error .help-block,
.has-error .radio, .has-error .radio-inline,
.has-error.checkbox label, .has-error.checkbox-inline label,
.has-error.radio label, .has-error.radio-inline label,
.has-error .form-control-feedback{
  color: $danger;
}
.has-success .form-control {
  border-color: $success;
  box-shadow: none !important;
}
.has-warning .form-control {
  border-color: $warning;
  box-shadow: none !important;
}
.has-error .form-control {
  border-color: $danger;
  box-shadow: none !important;
}

.input-group-text{
  font-size: 14px;
  background-color: lighten($dark, 8%);
  border-color: lighten($dark, 8%);
  color: $light;
}