


/* =============
   Toastr Notification
============= */

.jq-toast-single {
  border-radius: 0;
  font-family: $font-primary;
  background-color: lighten($dark,4%);
  font-size: 14px;

  h2 {
    font-family: $font-secondary;
  }

  a{
    font-size: 14px;
    &:hover {
      color: $custom;
    }
  }
}

.jq-icon-info {
  background-color: $info;
  color: $white;
  border-color: $info;
}

.jq-icon-success {
  background-color: $success;
  color: $white;
  border-color: $success;
}

.jq-icon-warning {
  background-color: $warning;
  color: $white;
  border-color: $warning;
}

.jq-icon-error {
  background-color: $danger;
  color: $white;
  border-color: $danger;
}

.close-jq-toast-single {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 20px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-color: $dark;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}

.jq-toast-loader {
  height: 3px;
  border-radius: 0;
}