

/* =============
   Tables
============= */

.table{
  color: $muted;
  th, td{
    border-color: lighten($dark, 4%) !important;
  }
  .thead-light{
    th{
      background-color: lighten($dark, 4%);
      color: $light;
    }
  }
}

th {
  font-family: $font-secondary;
  font-weight: 600;
}
.table-centered {
  td {
    vertical-align: middle !important;
  }
}

.table-striped tbody tr:nth-of-type(odd),.table-hover tbody tr:hover,.table-active, .table-active>td, .table-active>th {
  background-color: lighten($dark,4%);
  color: $white;
}


// Table layouts

/* Table colored */
.table-colored {
  thead {
    th {
      color: $white;
    }
  }
}
.table-colored.table-custom {
  thead {
    th {
      background-color: $custom;
    }
  }
}
.table-colored.table-primary {
  thead {
    th {
      background-color: $primary;
    }
  }
}
.table-colored.table-success {
  thead {
    th {
      background-color: $success;
    }
  }
}

.table-colored.table-info {
  thead {
    th {
      background-color: $info;
    }
  }
}

.table-colored.table-warning {
  thead {
    th {
      background-color: $warning;
    }
  }
}

.table-colored.table-danger {
  thead {
    th {
      background-color: $danger;
    }
  }
}

.table-colored.table-inverse {
  thead {
    th {
      background-color: $inverse;
    }
  }
}

.table-colored.table-pink {
  thead {
    th {
      background-color: $pink;
    }
  }
}

.table-colored.table-purple {
  thead {
    th {
      background-color: $purple;
    }
  }
}


/* Table colored-bordered */

.table-colored-bordered {
  thead {
    th {
      border-bottom: 0 !important;
      color: $white;
    }
  }
}

.table-colored-bordered.table-bordered-primary {
  border: 2px solid $primary;

  thead {
    th {
      background-color: $primary;
    }
  }
}

.table-colored-bordered.table-bordered-success {
  border: 2px solid $success;

  thead {
    th {
      background-color: $success;
    }
  }
}

.table-colored-bordered.table-bordered-info {
  border: 2px solid $info;

  thead {
    th {
      background-color: $info;
    }
  }
}

.table-colored-bordered.table-bordered-custom {
  border: 2px solid $custom;

  thead {
    th {
      background-color: $custom;
    }
  }
}

.table-colored-bordered.table-bordered-warning {
  border: 2px solid $warning;

  thead {
    th {
      background-color: $warning;
    }
  }
}

.table-colored-bordered.table-bordered-danger {
  border: 2px solid $danger;

  thead {
    th {
      background-color: $danger;
    }
  }
}

.table-colored-bordered.table-bordered-inverse {
  border: 2px solid $inverse;

  thead {
    th {
      background-color: $inverse;
    }
  }
}

.table-colored-bordered.table-bordered-pink {
  border: 2px solid $pink;

  thead {
    th {
      background-color: $pink;
    }
  }
}

.table-colored-bordered.table-bordered-purple {
  border: 2px solid $purple;

  thead {
    th {
      background-color: $purple;
    }
  }
}


/* Table full colored */
.table-colored-full {
  color: $white;

  thead {
    th {
      border-bottom: 0 !important;
      padding: 10px !important;
    }
  }
  tbody {
    td,th {
      border: 0 !important;
    }
    tr{
      &:hover{
        color: $white;
      }
    }
  }
}

.table-colored-full.table-full-primary {
  background-color: rgba($primary, 0.80);

  thead {
    th {
      background-color: $primary;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $primary;
      }
    }
  }
}

.table-colored-full.table-full-success {
  background-color: rgba($success, 0.80);

  thead {
    th {
      background-color: $success;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $success;
      }
    }
  }
}

.table-colored-full.table-full-info {
  background-color: rgba($info, 0.80);

  thead {
    th {
      background-color: $info;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $info;
      }
    }
  }
}

.table-colored-full.table-full-custom {
  background-color: rgba($custom, 0.80);

  thead {
    th {
      background-color: $custom;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $custom;
      }
    }
  }
}

.table-colored-full.table-full-warning {
  background-color: rgba($warning, 0.80);

  thead {
    th {
      background-color: $warning;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $warning;
      }
    }
  }
}

.table-colored-full.table-full-danger {
  background-color: rgba($danger, 0.80);

  thead {
    th {
      background-color: $danger;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $danger;
      }
    }
  }
}

.table-colored-full.table-full-inverse {
  background-color: rgba($inverse, 0.80);

  thead {
    th {
      background-color: $inverse;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $inverse;
      }
    }
  }
}


.table-colored-full.table-full-pink {
  background-color: rgba($pink, 0.8);

  thead {
    th {
      background-color: $pink;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $pink;
      }
    }
  }
}

.table-colored-full.table-full-purple {
  background-color: rgba($purple, 0.8);

  thead {
    th {
      background-color: $purple;
    }
  }
  tbody {
    tr{
      &:hover {
        background-color: $purple;
      }
    }
  }
}