
/* =============
   Tabs
============= */

.tab-content {
  padding: 20px 0 0 0;
}

.nav-tabs{
  border-color: lighten($dark, 4%);
  .nav-item{
    .nav-link {
      color: $muted;
      text-transform: uppercase;
      font-weight: 600;
      font-family: $font-secondary;
      font-size: 13px;
    
      &:hover, &:focus {
        border-color: lighten($dark, 4%) lighten($dark, 4%) $dark;
      }
    }
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: $custom;
  background-color: $dark;
  border-color: lighten($dark, 4%) lighten($dark, 4%) $dark;
}


/* Vertial tab */
.tabs-vertical-env {

  .nav.tabs-vertical {
    .nav-link {
      color: $muted;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      &.active, &:hover{
        background-color: lighten($dark, 4%);
        color: $custom;
      }
    }

  }
}

.tabs-bordered {
  border-bottom: 2px solid rgba($muted, 0.2) !important;
}

.tabs-bordered .nav-item .nav-link, .tabs-bordered .nav-item .nav-link:hover, .tabs-bordered .nav-item .nav-link:focus {
  border: 0 !important;
  background-color: $dark !important;
  padding: 10px 20px !important;
}
.tabs-bordered .nav-item .nav-link.active {
    border-bottom: 2px solid $custom !important;
    margin-bottom: -1px;
    color: $custom;
}

/* Navpills */
.nav-pills>li>a {
  color: $dark;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: $custom;
}