

/* =================
   Popover / Tooltips
==================== */
/* Popover */
.popover {
  font-family: inherit;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.15);
  background-color: lighten($dark, 4%);

  .popover-title {
    background-color: transparent;
    color: $custom;
    padding: 12px 15px;
    font-size: 15px;
    border-bottom: 1px solid rgba($light, 0.1);
  }
  .popover-header{
    margin-top: 0px;
    background-color: lighten($dark, 4%);
    border-color: lighten($dark, 8%);
  }
  .popover-content {
    padding: 9px 14px;
  }
  .arrow {
    border-color: transparent !important;
  }
  .popover-body {
    color: $muted;
}
}


/* Tooltips */
.tooltip {
  font-family: $font-secondary;

  .tooltip-inner {
    padding: 4px 10px;
    border-radius: 2px;
    background-color: darken($dark, 8%);
  }
}

.tooltip.left .tooltip-arrow {
  border-left-color: darken($dark, 8%);
}

.tooltip.top .tooltip-arrow {
  border-top-color: darken($dark, 8%);
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: darken($dark, 8%);
}

.tooltip.right .tooltip-arrow {
  border-right-color: darken($dark, 8%);
}

/* Tooltpster */
.tooltipster-sidetip .tooltipster-box {
  background-color: $custom;
  border: 2px solid $custom;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{
  border-top-color: $custom;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{
  border-bottom-color: $custom;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{
  border-left-color: $custom;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{
  border-right-color: $custom;
}