
$custom: #348cd4;


// Color variables

$white: #ffffff;

$default: #dae6ec;
$primary: #3456d4;
$success: #78c350;
$info: #45bbe0;
$warning: #ff9800;
$danger: #f7531f;
$purple: #8892d6;
$pink: #F06292;
$inverse: #3b3e47;
$muted: #98a6ad;
$light: #b0d2e6;
$light3: #f3f3f3;
$light7: #797979;
$dark: #2b3442;

$shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);


//Background Topbar
$bg-topbar: #242c38;

$bg-body: #242c38;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

//Font variables
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;

//Font Base
$font-size-base: 13px;
