

/* =============
   Calendar
============= */

.calendar {
  float: left;
  margin-bottom: 0;
}

.fc-view {
  margin-top: 30px;
}
.none-border {
  .modal-footer {
    border-top: none;
  }
}

.fc-toolbar {
  margin-bottom: 5px;
  margin-top: 10px;
  h2 {
    font-size: 18px;
    font-weight: 600;
    font-family: $font-secondary;
    line-height: 30px;
    text-transform: uppercase;
  }
}
.fc-day-grid-event .fc-time {
  font-family: $font-secondary;
}

.fc-day {
  background: $dark;
}

.fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
  background-color: lighten($dark, 4%);
}

.fc-widget-header {
  border: 1px solid lighten($dark, 4%) !important;
  background-color: lighten($dark, 4%) !important;
}

.fc-widget-content {
  border: 1px solid lighten($dark, 4%) !important;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}


.fc {
  th.fc-widget-header {
    background: $light;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    text-transform: uppercase;
  }
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: $light;
}

.fc-button {
  border: none;
  background: lighten($dark, 4%);
  color: $white;
  text-transform: capitalize;
  box-shadow: none !important;
  border-radius: 3px !important;
  margin: 0 3px !important;
  padding: 6px 12px !important;
  height: auto !important;
}

.fc-text-arrow {
  font-family: inherit;
  font-size: 16px;
}

.fc-state-hover {
  background: $light3;
}

.fc-state-highlight {
  background: #f0f0f0;
}

.fc-state-down, .fc-state-active,.fc-state-disabled {
  background-color: $custom !important;
  color: $white !important;
  text-shadow: none !important;
}

.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed {
  .fc-today {
    background: lighten($dark, 4%);
  }
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
  color: $white !important;
}

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}
.external-event.bg-primary {
  background-color: rgba($primary, 0.3) !important;
  color: $primary;
}

.external-event.bg-success {
  background-color: rgba($success, 0.3) !important;
  color: $success;
}

.external-event.bg-info {
  background-color: rgba($info, 0.3) !important;
  color: $info;
}

.external-event.bg-warning {
  background-color: rgba($warning, 0.3) !important;
  color: $warning;
}

.external-event.bg-danger {
  background-color: rgba($danger, 0.3) !important;
  color: $danger;
}

.external-event.bg-pink {
  background-color: rgba($pink, 0.3) !important;
  color: $pink;
}

.external-event.bg-purple {
  background-color: rgba($purple, 0.3) !important;
  color: $purple;
}

.external-event.bg-inverse {
  background-color: rgba($inverse, 0.3) !important;
  color: $inverse;
}


.fc-basic-view {
  td.fc-week-number {
    span {
      padding-right: 8px;
      font-weight: 700;
      font-family: $font-secondary;
    }
  }
  td.fc-day-number {
    padding-right: 8px;
    font-weight: 700;
    font-family: $font-secondary;
  }
}