

/* =====================================
   CHARTS
   ===================================== */

.dash-chart-bar {
  height: 370px !important;
  max-height: 500px;
}

/* Dashboard */
#dashboard-chart-one {
  max-height: 320px;
  height: 320px;

  .ct-labels .ct-horizontal {
    margin-left: -20px;
    display: block;
    text-align: center !important;
  }
  .ct-area {
    fill-opacity: 0.4;
  }
  .ct-line {
    stroke-width: 2px;
  }
  .ct-point {
    stroke-width: 6px;
  }
}

// Chart List
.chart-detail-list {
  li {
    margin: 0 10px;

    h5 {
      color: $muted;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}

/* Flot chart */
#flotTip {
  padding: 8px 12px;
  background-color: $light !important;
  z-index: 100;
  color: $dark;
  opacity: 0.9;
  font-size: 13px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;;
  border-radius: 3px !important;;
}
.legend {
  tr {
    height: 20px;
    font-family: $font-secondary;
  }
  
  div{
    background-color: transparent !important;
  }  
}
.legendLabel {
  padding-left: 5px !important;
  line-height: 10px;
  padding-right: 10px;
  color: $light;
}

/* Morris chart */
.morris-hover.morris-default-style {
    border-radius: 5px;
    padding: 10px 12px;
}

.morris-chart{
  text{
    font-family: $font-primary !important;
  }
}

/* Chartist chart */
.ct-golden-section:before {
    float: none;
}
.ct-chart {

  max-height: 300px;

  .ct-label {
    fill: $muted;
    color: $muted;
    font-size: 14px;
    line-height: 1;
  }
}
.ct-grid {
    stroke: rgba($white, 0.1);
}
.ct-chart.simple-pie-chart-chartist {
  .ct-label {
    color: $white;
    fill: $white;
    font-size: 16px;
  }
}
.ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice-donut {
    stroke: $primary;
}
.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice-donut {
    stroke: $info;
}
.ct-chart .ct-series.ct-series-c .ct-bar, .ct-chart .ct-series.ct-series-c .ct-line, .ct-chart .ct-series.ct-series-c .ct-point, .ct-chart .ct-series.ct-series-c .ct-slice-donut {
    stroke: $custom;
}
.ct-chart .ct-series.ct-series-d .ct-bar, .ct-chart .ct-series.ct-series-d .ct-line, .ct-chart .ct-series.ct-series-d .ct-point, .ct-chart .ct-series.ct-series-d .ct-slice-donut {
    stroke: $purple;
}
.ct-chart .ct-series.ct-series-e .ct-bar, .ct-chart .ct-series.ct-series-e .ct-line, .ct-chart .ct-series.ct-series-e .ct-point, .ct-chart .ct-series.ct-series-e .ct-slice-donut {
    stroke: $dark;
}
.ct-chart .ct-series.ct-series-f .ct-bar, .ct-chart .ct-series.ct-series-f .ct-line, .ct-chart .ct-series.ct-series-f .ct-point, .ct-chart .ct-series.ct-series-f .ct-slice-donut {
    stroke: $pink;
}
.ct-chart .ct-series.ct-series-g .ct-bar, .ct-chart .ct-series.ct-series-g .ct-line, .ct-chart .ct-series.ct-series-g .ct-point, .ct-chart .ct-series.ct-series-g .ct-slice-donut {
    stroke: $danger;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: $primary;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
    fill: $info;
}
.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
    fill: $custom;
}
.ct-series-d .ct-area, .ct-series-d .ct-slice-pie {
    fill: $custom;
}
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  background: $light;
  color: $dark;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.chartist-tooltip.tooltip-show {
  opacity: 1;
}


/* C3 chart */
.c3 svg {
    max-width: 100%;
}
.c3-tooltip td>span {
  background: $dark;
}
.c3-tooltip td {
    border-left: none;
}
.c3-tooltip {
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
}
.c3-chart-arcs-title {
  font-size: 18px;
  font-weight: 600;
  font-family: $font-secondary;
}
.c3-tooltip tr {
    border: none !important;
}
.c3-tooltip th {
  background-color: lighten($dark, 4%);
}

.c3-tooltip {
  color: $muted;
  .value {
    font-weight: 600;
    font-family: $font-secondary;
  }
}

.c3 {
  line, path {
    stroke: $muted;
  }
  text{
    fill: $muted;
  }
}

/* Sparkline chart */
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: $light !important;
  padding: 5px 10px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-color: $light !important;
}

.jqsfield {
  font-size: 12px !important;
  line-height: 18px !important;
  color: $dark !important;
}
