
/* =============
   Form pickers
============= */

// Timepicker
.bootstrap-timepicker-widget {
  table {
    td {
      input {
        background-color: lighten($dark, 2%);
        border: 1px solid lighten($dark, 4%);
        width: 35px;
        color: $light;
      }
      a{
        color: $light;
        &:hover{
          background-color: lighten($dark, 2%);
          border: 1px solid lighten($dark, 4%);
          color: $light;
        }
      }
      &.separator{
        color: $light;
      }
    }
  }
}

// Datepicker
.datepicker-dropdown {
  padding: 10px !important;
  table{
    color: $light;
  }
}

.datepicker td, .datepicker th {
    width: 30px;
    height: 30px;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.selected, .datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover{
  background-color: $custom !important;
  color: $white !important;
  background-image: none !important;
  text-shadow: none !important;
}

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  background-color: $success !important;
  color: $white !important;
  background-image: none !important;
}

.datepicker-inline {
    border: 2px solid lighten($dark, 4%);
}

.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover,
.datepicker table tr td.day.focused, .datepicker table tr td.day:hover{
  background: lighten($dark, 4%);
}

.datepicker table {
  tr {
    td {
      span{
        &.focused, &:hover{
          background: lighten($dark, 4%);
        }
      }
    }
  }
}

//Daterange Picker

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: $custom;
    color: $white !important;
}
.daterangepicker .input-mini.active {
    border: 1px solid rgba($dark, 0.10);
}
.daterangepicker {
  background: lighten($dark,4%);
  border-color: lighten($dark,8%);
  .ranges {
    li {
      border-radius: 2px;
      color: $light;
      font-weight: 600;
      font-size: 12px;
      background-color: lighten($dark,6%);
      border-color: lighten($dark,8%);
      font-family: $font-secondary;
    }
  }
  .calendar-table{
    background: lighten($dark,4%);
    border-color: lighten($dark,6%);
    .prev, .next{
      span{
        border-color: $light;
      }
    }
  }
  td, th{
    &.available{
      &:hover{
        background-color: lighten($dark,8%);
      }
    }
  }
  td{
    &.off, &.off.in-range, &.off.start-date, &.off.end-date{
      background-color: lighten($dark,8%);
    }
    &.in-range{
      background-color: lighten($dark,10%);
      color: $light;
    }
  }
  .drp-calendar.left, .drp-buttons{
      border-color: lighten($dark,8%) !important;
    }
}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect,
.daterangepicker select.secondselect, .daterangepicker select.ampmselect{
  border: 1px solid rgba($dark, 0.3);
  padding: 2px;
  width: 60px;
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background-color: $custom;
  color: $white;
}

.datepicker>div{
  display: block;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>td {
  font-size: 14px;
  padding: 5px;
}

// clockpicker

.clockpicker-popover{
  .popover-content{
    background-color: $dark;
    .clockpicker-plate{
      background-color: lighten($dark,2%);
      border-color: lighten($dark,4%);
      .clockpicker-tick{
        color: $muted;
      }
    }
  }
  .clockpicker-button{
    color: $light;
    &:hover{
      background-color: lighten($dark,6%);
    }
  }
}